  init {
    {{#metas}}
    {{#hasCustom}}
    register({{typeName}}.serializer)
    {{/hasCustom}}
    {{^hasCustom}}
    {{#isData}}
    {{#isEnum}}
    register(object : DSerializer<{{typeName}}>({{typeName}}::class.java) {
      override fun get (pcol :DProtocol, buf :ByteBuffer) =
        {{typeName}}.valueOf(buf.getString())
      override fun put (pcol :DProtocol, buf :ByteBuffer, obj :{{typeName}}) :Unit =
        buf.putString(obj.name)
    })
    {{/isEnum}}
    {{^isEnum}}
    register(object : DSerializer<{{typeName}}>({{typeName}}::class.java) {
      override fun get (pcol :DProtocol, buf :ByteBuffer) = {{typeName}}{{^isObject}}(
        {{#realProps}}
        buf.get{{typeKind}}({{#needsProtocol}}pcol{{#paramTypes}}, {{.}}::class.java{{/paramTypes}}{{/needsProtocol}}){{^-last}},{{/-last}}
        {{/realProps}}
      ){{/isObject}}
      override fun put (pcol :DProtocol, buf :ByteBuffer, obj :{{typeName}}) {
        {{#realProps}}
        buf.put{{typeKind}}({{#needsProtocol}}pcol{{#paramTypes}}, {{.}}::class.java{{/paramTypes}}, {{/needsProtocol}}obj.{{propName}})
        {{/realProps}}
      }
    })
    {{/isEnum}}
    {{/isData}}
    {{#isEntity}}
    register(object : DEntitySerializer<{{typeName}}>({{typeName}}::class.java) {
      override fun create (buf :ByteBuffer) =
        {{typeName}}({{#isKeyed}}buf.getLong(){{/isKeyed}})
      override fun read (pcol :DProtocol, buf :ByteBuffer, obj :{{typeName}}) {
        {{#isEntityChild}}
        pcol.entitySerializer({{superName}}::class.java).read(pcol, buf, obj)
        {{/isEntityChild}}
        {{#delegateProps}}
        obj.{{propName}} = buf.get{{typeKind}}({{#needsProtocol}}pcol{{#paramTypes}}, {{.}}::class.java{{/paramTypes}}{{/needsProtocol}})
        {{/delegateProps}}
      }
      override fun put (pcol :DProtocol, buf :ByteBuffer, obj :{{typeName}}) {
        {{#isEntityChild}}
        pcol.entitySerializer({{superName}}::class.java).put(pcol, buf, obj)
        {{/isEntityChild}}
        {{^isEntityChild}}
        {{#isKeyed}}
        buf.putLong(obj.id)
        {{/isKeyed}}
        {{/isEntityChild}}
        {{#delegateProps}}
        buf.put{{typeKind}}({{#needsProtocol}}pcol{{#paramTypes}}, {{.}}::class.java{{/paramTypes}}, {{/needsProtocol}}obj.{{propName}})
        {{/delegateProps}}
      }
    })
    {{/isEntity}}
    {{/hasCustom}}
    {{/metas}}
  }
